

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 bg-primary text-light">
                <app-comp1 ></app-comp1>
            </div>
            <div class="col-sm-12 col-md-4 bg-success text-light">
                <app-comp2></app-comp2>
            </div>
            <div class="col-sm-12 col-md-4 bg-secondary text-light">
                <app-comp3></app-comp3>
            </div>

            <app-btnclick></app-btnclick>
        </div>
</div>


